.title-section {
    height: 300px;
    padding: 50px 0 50px 0;
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}

.title-section-container {
    width: 1200px;
    margin: auto;
}

.title-section-container>h1 {
    color: white;
}

.breadcrump>li {
    color: white;
}

.subtitle {
    color: white;
}

.title-section-container>ul {
    list-style: none;
}

.title-section-container>ul li {
    display: inline;
}

.container {
    display: flex;
    align-items: flex-start;
}

.contact-info {
    padding: 40px 40px 40px 80px;
    align-items: flex-start;
}

.message-field {
    display: block;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}

.message-field>textarea {
    padding: 20px;
    width: 100%;
    border-width: 0;
    appearance: none;
    border: none;
    outline: none;
    user-select: none;
}

.contact-info .fa-solid {
    font-size: 25px;
}

.info {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: flex-start;
    margin-bottom: 15px;
}

.col-2 {
    padding-left: 20px;
}

.col-2>p {
    color: black;
}