#logo {
    width: 200px;
}

header {
    border-bottom: 1px solid var(--color-grey03);
}

.header {
    max-width: 1200px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.top-container {
    display: grid;
    grid-template-columns: 17% 12% 39% 6% 7% 11%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cat-button {
    position: relative;
    justify-content: center;
}

.login {
    justify-content: center;
    display: inline-flex;
    gap: 10px;
}

.category::before {
    font-family: "fontawesome";
    content: "\f0c9";
    margin-right: 10px;
    font-size: 20px;
}

.category,
.links {
    margin: 0;
}

.links {
    width: 200px;
    text-align: left;
    padding: 0 20px;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: capitalize;
    border-radius: 0;
}

.c-list {
    position: absolute;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    z-index: 2;
    transition: transform .2s ease-in-out;
}

.search-bar .search .search-form {
    width: 100%;
    border: var(--color-primary);
    background-color: white;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}

.search-bar .search .search-form input {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    height: 50px;
    text-transform: none;
    border: 1px solid #E1E1E1;
    border-radius: 10px 0 0 10px;
}

.search-bar .search .search-form input:focus {
    outline: none;
    border-color: var(--color-secondary);
}

.search-bar .search .search-form .search-btn {
    border-radius: 0 10px 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    font-size: 18px;
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    border-bottom: 3px solid transparent;
    transition: all .2s ease-in-out;
}

.nav-links ul li:hover {
    border-bottom: 3px solid var(--color-secondary);
}

.user-box .user-button {
    display: flex;
    align-items: center;
}

.user-box-popup {
    position: absolute;
    padding: 20px 20px 10px 20px;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(163, 163, 163, 0.15);
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    z-index: 2;
    transition: transform .2s ease-in-out;
}

.user-box-popup .user-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-box-popup .user-list i {
    margin-right: 10px;
}

.user-box-popup .user-list a {
    margin-bottom: 10px;
}

.cart-icon a {
    font-size: 25px;
}

.cart-icon {
    display: flex;
    justify-content: flex-end;
}